* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App {
  width: 100%; 
  min-height: 150vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: center;
  
  
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item svg {
  width: 2.5rem;
  height: 2.5rem;
}
.menu-item nav {
  margin-left: 1rem;
  display: flex;
}
.menu-item nav a {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}
nav {
  width: 100%; 
  display: flex; 
  justify-content: space-evenly; 
}

.logo-wrapper {
  width: 35rem;
  height: 16rem;  
}

.logo-wrapper img {
  width: 100%;
  height: 100%;

}

.header-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem ;
 
}
main {
  
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 1rem;
  
}
main h1{
  width: 100%;

}
.img-container{
  width: 400px;
  height: 400px;

}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.notes-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.item-price {
  font-size: large;
  font-weight: bold;
  color: red;
}
.gallery-arrow {
  display: flex;
  align-items: center;
}
.gallery-arrow svg {
  width: 4rem;
  height: 4rem;
}
.gallery-item {
  width: 400px;
}

.cart-list {
  width: 80%;
  list-style: none;
}
.cart-list li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.cart-list .img-container {
  width: 250px;
  height: 100px;
}
.cart-list .item-desc {
  flex-grow: 1;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.cart-user {
  width: 100%;
  padding: 1rem;
}
.cart-buttons {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.cart-buttons span {
  padding: 1rem;
}
.cart-list .item-price {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
}

body {
  background-image: url("../src/assets/images/homebackground.jpg@1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropbtn {
  background-color: rgba(48, 41, 4, 0.75);
  color: white;
  padding: 15px 30px 20px;
  font-size: 25px;
  border: 1px solid rgb(19, 18, 18);
  cursor: pointer;
  border-radius: 10px; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #F1F1F1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #afa670;
}


p {
  margin: 15px 0;
}

.welcome{
  display: flex;
  flex-direction: column;
  padding: 80px 20px 20px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.welcome1{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 25px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.login-home{
  padding: 0px 0px 40px;  
}

#sign-up-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.sign-up-form{
  padding: 40px 30px 40px;
  background-color: whitesmoke;
  border-radius: 20px;
  opacity: 80%;
  font-size: 20px;
  margin-bottom: 30px;
}

#sign-up-form div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0.5rem 0 ;
  width: 100%;
  
 
}

#sign-up-form label {
  flex: 1;
  flex-shrink: 0;
  text-align: right;
  padding-right: 0.5rem;
}

#sign-up-form input,
#sign-up-form textarea {
 width: 100%;
  padding:  1rem;
  outline: none;
  /* background-color: white; */
  transition: 0.25s ease-in-out;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(22, 22, 22);
}

#form-container textarea {
  resize: none;
}


#form-submit {
  background-color: rgba(248, 245, 245, 1);
  padding: 10px 10px 10px;
  border-radius: 10px;
  font-size: 20px;
  border:2px solid black;
}
#form-submit:hover{
  background-color: rgb(158, 148, 123);
}
.welcome-to{
  color: #0f0f0f;
  
}

#home-info{
  padding: 0px 20px 100px;
  background-color: rgb(204, 199, 191);
  border-radius: 10px;
  opacity: 90%;
}

.welcome-info{
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(246, 246, 237);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  
}

.log-in-in-put{
  padding: 10px 30px 10px;
  /* background-color: whitesmoke; */
  border-radius: 10px;
  font-size: 20px;
}
#log-in-in-put-submit{
  padding: 10px 30px 10px;
  /* background-color: whitesmoke; */
  border-radius: 10px;
  font-size: 20px;
}
#log-in-in-put-submit:hover{
  background-color: rgb(158, 148, 123);
}
#create-account{
  padding: 10px 20px 20px;
  background-color: rgb(241, 231, 231);
  color: rgb(26, 23, 8);
  border-radius: 10px;
}
#create-account:hover{
  background-color: rgb(158, 148, 123);
}